{% extends "archive/base.html" %}

        {% block title %}Map of events{% endblock %}

 {% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        margin-bottom:100px;
      }
    </style>
  {% endblock %}



  {% block extra_content %}
    <div id="map"></div>
    <script>

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: 50.5, lng:-4}
  });

  var circle = {
    path: google.maps.SymbolPath.CIRCLE,
    fillColor: 'red',
    fillOpacity: 1,
    scale: 4,
    strokeColor: 'red',
    strokeOpacity: 0.3,
    strokeWeight: 15,
  };

  var infowindow = new google.maps.InfoWindow();

 {% for event in events %}
  var marker_{{event.id}} = new google.maps.Marker({
    position: {lat: {{event.lat}}, lng: {{event.lon}} },
    map: map,
    icon: circle,
    title: '{{event.location}}',
  });

google.maps.event.addListener(marker_{{event.id}}, 'click', function(e) {
    infowindow.setContent('<a href="{{event.link}}">{{event}}</a>');
    infowindow.open(map, this);
  });


  {% endfor %}
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNOLzSqWH5SM9IjR3ZcWazTPFx1djZqDA&signed_in=true&callback=initMap"></script>
  {% endblock %}