<table style="width:600px">
    <tr>
        <th colspan="3">{{event.date}} - run number {{event.number}} - Series: {{event.series}}</th>
    </tr>
    <tr>
        <th colspan="3">{{ event.location}}</th>
    </tr>
    <tr>
        <th colspan="3">Planner(s): {% if organisers %}

            {% for organiser in organisers %}
                {% if not forloop.first %}, {% endif %}
                    {{organiser.format_name |safe}}
            {% endfor %}
        {% else %}
            Planner(s) unknown
        {% endif %}
        </th>
    </tr>
    <tr>
        <td colspan = 3>{{ event.notes }}</td>
    </tr>




{% if results_list %}
    <tr>
        <th>Name</th>
        <th>Time/Score</th>
        <th>Notes</th>
    </tr>
   <tr>
        {% for result in results_list %}
        <td style="width:150px"> {{result.hyperlink_name |safe}}</td>
       <td style="width:100px">{{result.formatted_time_score}} </td>
       <td style="width:350px">{{result.notes}}</td>


    </tr>
    {% endfor %}

{% else %}
    <tr>
        <th colspan="3"> <p>No results are available.</p></th>
    </tr>

{% endif %}


</table>
