{% extends "archive/base.html" %}
{% block title %}{{event.date}} - {{event.location}}{% endblock %}

{% block content %}


<div class="page-header">
    <h1>{{event.date}} - {{event.location}} {% if event.gridref %} ({{event.gridref_hyperlink |safe}}) {% endif %}</h1>
    <div id="event_subtitle"><p>Run #{{event.number}}, part of the {{event.series.hyperlink_name |safe}}</p></div>
    <div id="go_to_results">
        {% if event.source %}
        <a href="{{event.source}}" target="_blank">Go to the original results page <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        {% else %}

        {% endif %}
    </div>
    <p>{% if organisers %}
            Planner(s):
            {% for organiser in organisers %}
            {% if not forloop.first %}, {% endif %}
            {{organiser.format_name |safe}}{% endfor %}
            {% else %}
            Planner(s) unknown
            {% endif %}</p>
    <p>{{ event.notes }}</p>
</div>


{% if results_list %}


<table style="width:600px">

 <tr>
        <th>Name</th>
                {% for type in result_types %}
                <th>{{ type.short_description}}</th>
                {% endfor %}
                <th>Notes</th>
            </tr>

    {% if courses %}

        {% for course in courses %}
            <tr>
                <td colspan = 3><i>{{ course.name }}</i></td>
            </tr>




            {% for result in course.get_results %}
            {% include "archive/result.html" %}
            {% endfor %}

        {% endfor %}
    {% else %}


        {% for result in results_list %}
        {% include "archive/result.html" %}
        {% endfor %}


    {% endif %}




</table>
        {% else %}
        <div class="alert alert-info" role="alert">
        No results available.
      </div>
         {% endif %}


        {% endblock %}