{% extends "archive/base.html" %}
{% block title %}Missing data{% endblock %}

{% block content %}

        <div class="page-header">
            <h1>Events with missing data</h1>
            <p>Listed below are events for which some information is not recorded. Can you help fill the gaps?</p>
        </div>




<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Events with no results</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    {% if events_no_results %}
    {% include "archive/event_list.html" with events=events_no_results %}
{% else %}
        None
{% endif %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Events with no known location</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">


{% if events_no_location %}
    {% include "archive/event_list.html" with events=events_no_location %}
{% else %}
        None
{% endif %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Events with no known organisers</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">


{% if events_no_organisers %}
    {% include "archive/event_list.html" with events=events_no_organisers %}
{% else %}
        None
{% endif %}

                </div>
            </div>


        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Events with fewer than 5 results (possibly not an issue)</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">


{% if events_few_results %}
    {% include "archive/event_list.html" with events=events_few_results %}
{% else %}
        None
{% endif %}

                </div>
            </div>


        </div>

    </div>
</div>







        {% endblock %}