{% extends "archive/base.html" %}
{% block title %}View all runners{% endblock %}

{% block content %}

<div class="page-header">
    <h1>View all runners</h1>
    <p>This is a list of all the runners (and organisers) in the database</p>
</div>
<div class="row">

    {% if runners %}

        {% for runner in runners %}
        {% if forloop.first %}<div style="float:left; margin-right:50px">{% endif %}
        <a href="/archive/runner/{{runner.id}}">{{runner.firstname}} {{runner.surname}}</a><br />
        {% if forloop.counter|divisibleby:column_length  %}
        </div><div style="float:left;  margin-right:50px">
        {% endif %}
        {% if forloop.last %}</div>{% endif %}







        {% endfor %}
        <div style="clear:both;"></div>

    {% else %}
    No runners to show
    {% endif %}
</div>


{% endblock %}