{% extends "archive/base.html" %}
{% block title %}The {{ series.number_desc }} {{ series.season }} series{% endblock %}

{% block content %}

<div class="page-header">
    <h1>The {{ series.number_desc }} {{ series.season }} series</h1>
</div>


{% if events %}
{% include 'archive/event_list.html' with events=events %}
{% if series.is_winter %}
<a href="overall_results"><button type="button" class="btn btn-lg btn-default">View Overall Results</button></a>
{% endif %}
{% else %}
No events for this series
{% endif %}

{% endblock %}