

{% extends "archive/base.html" %}
{% block title %}Tools{% endblock %}

{% block content %}


<div class="page-header">
    <h1>Archive management tools</h1>
    <p>
        A set of tools which automate certain processes.
    </p>
</div>

        {% if user.is_superuser %}
        {% block tool %}

        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Merge duplicate runners</h3>
            </div>
            <div class="panel-body">
              During the importing process, sometimes runners are imported with slightly different names. After correcting the names
                through the admin panel, click the button below to merge those with the same name.
                <br>
                <a href="merge_runners/"><button type="button" class="btn btn-sm btn-default">Merge Duplicate Runners</button></a>
            </div>
          </div>

           <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Re-import an event</h3>
            </div>
            <div class="panel-body">
              Some events might not have been imported correctly. If the software has been updated since they were imported,
                it might be worth trying again by clicking the button below.
                <br>
                <!--<a href="reimport/"><button type="button" class="btn btn-sm btn-default">Re-import an event</button></a>-->
                <form action="reimport/" method="post">
                    {% csrf_token %}
                    {{ reimport_form }}
                    <input type="submit" value="Re-import" />
                </form>
            </div>
          </div>

        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Move course</h3>
            </div>
            <div class="panel-body">
             Move a course to a different event, e.g. the second day of a weekend event
                <br>
                <form action="move_course/" method="post">
                    {% csrf_token %}
                    {{ move_course_form.as_p }}
                    <input type="submit" value="Move" />
                </form>
            </div>
          </div>

        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Remove ghost results</h3>
            </div>
            <div class="panel-body">
              Results which aren't assigned to a course in an event which as courses will not be displayed.
                Click the button to remove them.
                <br>
                <a href="remove_ghost_results/"><button type="button" class="btn btn-sm btn-default">Remove ghost results</button></a>
            </div>
          </div>

        {% endblock %}

        {% else %}
        <p>You must be logged in as an Admin to use the tools</p>

        {% endif %}

        {% endblock %}

