<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel="icon" type="image/x-icon" href="{{ "/assets/favicon.png" | relative_url }}">

  <style>
    .wrapper {
      max-width: 70%;
      @media screen and (max-width: 800px) {
        max-width: 95%;
      }
    }

    a.site-title {
      background-image: url("assets/logo75x75.png");
      height: 80px;
      background-position: left;
      background-repeat: no-repeat;
      background-size: 75px; 
      padding-left:80px;
    }

    .site-nav, a.site-title {
      line-height: 80px;
    }
    
    .site-header {
      background-color: #e8f1ff;
    }
  </style>

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div  style="width: 70%; float:left">
          {{ content }}
        </div>

        <div style="float:right ; width:28%">
            <img style="margin-bottom:10px;" src="{{ "/assets/winter-2015-small-300x225.jpg" | relative_url }}" />
            
            <img style="margin-bottom:10px;" src="{{ "/assets/ControlDog-300x225.jpg" | relative_url }}" />
            
            <img style="margin-bottom:10px;" src="{{ "/assets/Moorland-runner-cropped-300x212.jpg" | relative_url }}" />
            
            <img style="margin-bottom:10px;" src="{{ "/assets/XmasBash2017Med-300x200.jpg" | relative_url }}" />
        </div>

      </div>
    
    </main>

    {%- include footer.html -%}

  </body>

</html>