<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <link rel="icon" type="image/x-icon" href="{{ "/assets/favicon.png" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/styles.css" | relative_url }}" /> 
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="main-text">
          {{ content }}
        </div>

        <div class="img-bar" id="images">
          <!-- This is populated with some random images by the JS at the bottom -->
        </div>

      </div>
    
    </main>

    {%- include footer.html -%}

    <script type="text/javascript">
      let images = new Array();

      {%- for image in site.images -%}
        images.push("{{ image | relative_url }}");
      {%- endfor -%}

      var number = Math.floor(Math.random()*images.length);
      var numImages = Math.min({{ site.numImages }}, images.length);
      for (var i=0; i < numImages; ++i) {
        var numberI = (number +i) % images.length;
        document.getElementById('images').innerHTML += '<img class="side" src="' + images[numberI]+'" />'; 
      }

      document.getElementById('images').innerHTML += '<br>Photos Copyright <a href="https://www.marklockettphotography.co.uk">Mark Lockett</a>'
  
    </script>

  </body>

</html>